*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.details{
    width: 100%;
}

#progressBar{
    height: 10px;
    width: 100%;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress{
   height: 10px;
   width: 0%;
   background-color: var(--teal);
   border-radius: 10px;
   transition: all 0.3s ease;
}

#numbers{
    height: 100px;
    width: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex; 
    gap: 10px;
}

input{
    flex: 1;
    padding: 16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    /* cursor: pointer; */
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem{
   width: 100%;
   display: flex;
   background-color: var(--secondaryBackground);
   padding: 10px;
   border-radius: 10px;
   justify-content: space-between;
   align-items: center;
}

.task{
  display: flex;
  align-items: center;
  gap: 10px;
}

.task input{
    height: 20px;
    width: 20px;
}

.completed p{
    text-decoration: line-through;
    color: var(--teal);
}

.taskItem img{
    height: 24px;
    width: 24px;
    margin: 0 10px;
    cursor: pointer;
}